.benefitsWrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.leftSide {
  width: 50%;
}

.rightSide {
  background-image: url('../assets/benefits.jpg');
  background-size: cover;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}
