@import '../style/vars.scss';
@import '../style/mixins.scss';

$leftMargin: 37.5px;

.wrapper {
  @include confirmationWrapper();

  .textMd {
    @include mediumTextBold();
    margin-top: 16px;
    text-align: center;
  }

  .textSm {
    @include mmediumText();
    margin-top: 4px;
    line-height: 1.39;
    text-align: center;
  }

  .textLg {
    @include mediumTextBold();
    margin-top: 24px;
    line-height: 1.25;
    text-align: center;
  }

  .receipt {
    @include normalText();
    margin-top: 16px;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: $margin-md;
    border-radius: 6px;
    background-color: $color-light-grey;
    row-gap: 10px;

    div {
      width: 290px;
      > span {
        display: block;
      }

      &.bottomBorder {
        border-bottom: 1px solid $color-medium-grey2;
        padding-bottom: 10px;
      }
    }

    .trialDays {
      color: $color-green2;
    }
  }

  .btnWrapper {
    button {
      margin-top: 32px;
      width: 336px;
    }

    &.secondary {
      button {
        background-color: $color-purple;
        @include hover();
      }
    }

    &.tertiary {
      button {
        background-color: $color-primary;
        @include hover();
      }
    }
  }

  &.mobile {

  }
}
