@import '../style/vars.scss';
@import '../style/mixins.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $modal-content-padding;
  padding-top: 0;
  color: $color-dark-grey;

  .form {
    margin-top: $margin-sm;
    display: flex;
    flex-direction: column;
    width: 100%;

    .entry {
      &:not(:first-child) {
        margin-top: $margin;
      }

      .formHeader {
        @include normalBoldText();
        display: flex;
        align-items: center;
      }

      .formContent {
        margin-top: 4px;
        display: flex;
        flex-direction: column;
        row-gap: $margin-sm;

        .split {
          display: flex;
          column-gap: $margin-xs;

          > div {
            flex: 1;
          }
        }
      }
    }
  }

  .addLocationBtnWrapper {
    margin-top: 20px;
    button {
      @include smallTextBold();
      background-color: $color-purple;
      color: $color-white;
      width: 169px;
      height: 32px;
      padding: 0;
    }
  }

  &.mobile {
    .split {
      flex-direction: column;
      row-gap: $margin-xs;
    }

    .addLocationBtnWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
    }
  }
}
