@import '../style/vars.scss';
@import '../style/mixins.scss';

.wrapper {
  @include paymentWrapper();

  .left {
    @include paymentWrapperHeaderAndSubheader();

    .paymentInformationWrapper {
      margin-top: $margin;
    }

    .btnWrapper {
      width: 100%;

      &.secondary {
        button {
          background-color: $color-purple;
        }
      }

      &.tertiary {
        button {
          background-color: $color-primary;
        }
      }
    }
  }

  .right {
    background-color: $color-light-grey;
  }

  &.mobile {
    flex-direction: column;

    .topHeader, .topSubheader {
      text-align: center;
    }

    .agreementWrapper {
      padding: 0;
      background-color: $color-light-grey;
    }
  }
}
