@import '../style/vars.scss';
@import '../style/mixins.scss';

.wrapper {
  @include paymentWrapper();

  .left {
    @include paymentWrapperHeaderAndSubheader();

    .agreementWrapper {
      margin-top: $margin * 3;
    }

    .btnWrapper {
      margin: 15px 0;
    }
  }

  .right {
    background-color: $color-light-grey;
  }

  &.mobile {
    flex-direction: column;

    .agreementWrapper {
      padding: 0;
      background-color: $color-light-grey;
    }
  }
}
