@import '../style/vars.scss';
@import '../style/mixins.scss';

.wrapper {
  @include paymentWrapper();

  .left {
    @include paymentWrapperHeaderAndSubheader();

    .cardOnFileWrapper {
      margin-top: $margin;
    }
  }

  .right {
    background-color: $color-light-grey;
  }

  &.mobile {
    flex-direction: column;

    .agreementWrapper {
      padding: 0;
      background-color: $color-light-grey;
    }
  }
}
