@import '../style/vars.scss';
@import '../style/mixins.scss';

.wrapper {
  @include paymentWrapper();

  .left {
    @include paymentWrapperHeaderAndSubheader();

    .updatePaymentBtn {
      margin-top: $margin-sm;
      color: $color-blue;
      text-decoration: underline;
      cursor: pointer;
    }

    .cardOnFileWrapper {
      margin-top: $margin;
    }
  }

  .right {
    background-color: $color-light-grey;
  }

  &.mobile {
    flex-direction: column;

    .topHeader, .topSubheader {
      text-align: center;
    }

    .agreementWrapper {
      padding: 0;
      background-color: $color-light-grey;
    }
  }
}
