@import '../style/vars.scss';
@import '../style/mixins.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $modal-content-padding;
  padding-top: 0;
  color: $color-dark-grey;

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: $margin;

    .entry {
      display: flex;
      column-gap: $margin-xs;

      &:not(:first-child) {
        margin-top: $margin;
      }

      > div {
        flex: 1;

        svg {
          cursor: pointer;
          @include hover();
        }

        .formHeader {
          @include formHeader();
        }

        .formContent {
          margin-top: 4px;

          .locationEntry {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 5px;

            &:not(:first-child) {
              margin-top: $margin-xs;
            }

            > div {
              width: 100%;
            }
          }

          .addLocation {
            @include normalBoldText();
            color: $color-purple;
            display: flex;
            justify-content: flex-end;
            margin-top: 5px;
            margin-right: $margin;

            span {
              @include hover();
              cursor: pointer;
            }
          }
        }
      }
    }
    .addUserWrapper {
      margin-top: 10px;
      button {
        @include hover();
        @include smallTextBold();
        height: 32px;
        width: 146px;
        background-color: $color-orange;
        color: $color-white;
        padding: 0;
      }
    }
  }

  &.mobile {
    .form {
      .entry {
        flex-direction: column;
        row-gap: $margin-xs;
        margin-top: 30px;

        .addLocation {
          margin-top: 20px !important;
          justify-content: center !important;
          margin-right: 0 !important;
        }
      }

      .addUserWrapper {
        display: flex;
        justify-content: center;
        margin-top: 30px;
      }
    }
  }
}
