@import "fonts";
@import "vars";

#mob-detect {
  display: none;
}

@media (max-width: 800px) {
  #mob-detect {
    display: block;
  }
}

.pro-modal {
  line-height: 1.25;
  animation: fadein 75ms;
  font-size: 16px;

  * {
    box-sizing: border-box;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
