@import './vars.scss';

@mixin smallText() {
  font-size: $text-size-sm;
  color: $color-dark-grey;
}

@mixin normalText() {
  font-size: $text-size;
  color: $color-dark-grey;
}

@mixin mediumText() {
  font-size: $text-size-md;
  color: $color-dark-grey;
}

@mixin mmediumText() {
  font-size: $text-size-mmd;
  color: $color-dark-grey;
}

@mixin largeText() {
  font-size: $text-size-lg;
  color: $color-dark-grey;
}

@mixin largeBoldText() {
  @include largeText();
  font-weight: bold;
}

@mixin smallTextBold() {
  @include smallText();
  font-weight: bold;
}


@mixin normalBoldText() {
  @include normalText();
  font-weight: bold;
}

@mixin mediumTextBold() {
  @include mediumText();
  font-weight: bold;
}

@mixin mmediumTextBold() {
  @include mmediumText();
  font-weight: bold;
}

@mixin topHeader() {
  @include mediumTextBold();
  display: block;
  margin-bottom: 7px;
}

@mixin input() {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
  font-size: $text-size;
  border-radius: 6px;
  border: solid 1px $color-medium-grey2;
  background-color: $color-white;

  &:focus {
    outline: none;
    border: solid 1px $color-primary;
  }

  &.error {
    border: solid 1px $color-primary;
    background-color: rgba(228, 36, 54, 0.1);
  }
}

@mixin hover() {
  &:hover {
    opacity: $hover-opacity;
  }
}

@mixin errorMsg() {
  color: $color-primary;
}

@mixin formHeader() {
  @include normalBoldText();
  display: flex;
  align-items: center;

  span:has(svg) {
    margin-left: auto;
  }
}

@mixin confirmationWrapper() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: $color-dark-grey;
}

@mixin paymentWrapper() {
  display: flex;
  width: 100%;
  height: 100%;
  color: $color-dark-grey;

  > div {
    flex: 1;
    padding: $modal-content-padding;
  }
}

@mixin paymentWrapperHeaderAndSubheader() {
  display: flex;
  flex-direction: column;

  .topHeader {
    @include topHeader();
    text-align: left;
  }

  .topSubheader {
    @include normalText();
    display: block;
    line-height: 1.4;
    text-align: left;
  }

  .agreementWrapper {
    margin-top: auto;
  }

  .btnWrapper {
    margin: $margin-md 0;
  }
}

@mixin pauseCancelWrapper() {
  display: flex;
  width: 100%;
  height: 100%;
  color: $color-dark-grey;
  > div {
    flex: 1;
    flex-basis: 50%;
  }
}
