$modal-height: 640px;
$modal-width: 900px;
$modal-border-radius: 10px;
$modal-content-padding: 60px 30px 30px;

$color-white: #fff;
$color-dark-grey: #333333;
$color-dark-grey3: #777777;
$color-medium-grey: #777;
$color-medium-grey2: #cfcfcf;
$color-primary: #e42436;
$color-light-grey: #FAFAFA;
$color-gold: #E7B853;
$color-dark-gold: #C39940;

$text-size-small: 13px;
$text-size-normal: 15px;
$text-size-medium: 24px;
$text-size-large: 32px;

$margin-md: 21px;
$margin: 25px;
