$modal-height: 640px;
$modal-height-content: 548px;
$modal-width: 900px;
$modal-border-radius: 10px;
$modal-content-padding: 60px 30px 30px;

$color-white: #fff;
$color-dark-grey: #333333;
$color-dark-grey3: #777777;
$color-medium-grey: #777;
$color-medium-grey2: #cfcfcf;
$color-primary: #e42436;
$color-light-grey: #FAFAFA;
$color-gold: #E7B853;
$color-dark-gold: #C39940;
$color-purple: #5e76fc;
$color-orange: #feb45c;

$text-size-sm: 13px;
$text-size: 15px;
$text-size-mmd: 18px;
$text-size-md: 24px;
$text-size-lg: 32px;

$margin-md: 21px;
$margin: 25px;
$margin-xxl: 76px;

$hover-opacity: .8;
