@import '../style/vars.scss';
@import '../style/mixins.scss';

.agreement {
  font-size: $text-size-sm;

  a {
    color: $color-blue;
  }

  &.mobile {
    padding: $margin;
    text-align: center;
  }
}
