@import '../style/vars.scss';
@import '../style/mixins.scss';

.inputWrapper {
  display: flex;
  flex-direction: column;
  min-height: $input-height;
  width: 100%;
}

.input {
  @include input();
}
.errorMsg {
  @include errorMsg();
}
