@import '../style/vars.scss';
@import '../style/mixins.scss';

.inputWrapper {
  display: flex;
  flex-direction: column;
  height: $input-height;
}

.input {
  @include input();
}
.errorMsg {
  @include errorMsg();
}
