@import '../style/vars.scss';
@import '../style/mixins.scss';

.headerWrapper {
  position: absolute;
  top: 0;
  display: flex;
  width: calc(100% - $margin-md * 2);
  padding: $margin-md $margin-md 0;

  .back, .close {
    align-items: flex-start;
    cursor: pointer;
    z-index: 1;

    @include hover();
  }

  .back {
    margin-right: auto;
  }

  .close {
    margin-left: auto;
    display: flex;
    justify-content: center;
  }

  .closeSecondary {
    background: $color-medium-grey;
    border-radius: 30px;
    opacity: .6;
    padding: 7px;
    transform: translate(5px, -5px);

    svg {
      path {
        fill: $color-white !important;
      }
    }

    @include hover();
  }

  &.mobile {
    &.payment {
      background-color: $color-white;
    }
  }
}

.header {
  @include topHeader();
}

.subheader {
  @include normalText();
  line-height: 1.4;
  text-align: center;
}

.wrapper {
  margin-top: 38px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: $margin;
  background: $color-white;
}
