@import '../style/vars.scss';
@import '../style/mixins.scss';

$leftMargin: 31px;

.modalFooter {
  margin-top: auto;
  padding: $leftMargin 0 $margin-md 0;
  width: 100%;

  .borderedFooter {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 164px;
    }

    span {
      @include normalBoldText();
      position: absolute;
      right: $margin-xxl;
      color: $color-dark-grey3;
      cursor: pointer;

      @include hover();
    }

    &.secondary {
      button {
        background-color: $color-purple;
        @include hover();
      }
    }

    &.tertiary {
      button {
        background-color: $color-primary;
        @include hover();
      }
    }
  }

  .reactivateOverview {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
  }

  &.mobile {
    box-sizing: border-box;
    padding: 22px;
    display: flex;

    footer {
      width: 100%;
    }

    &:has(.borderedFooter) {
      border-top: 1px solid $color-medium-grey2;
    }

    .borderedFooter {
      flex-direction: column;
      width: 100%;
      row-gap: 17px;

      button {
        width: 100%;
      }

      span {
        position: relative;
        right: 0;
      }

      .btnWrapper {
        width: 100%;

        &.secondary {
          button {
            background-color: $color-purple;
          }
        }

        &.tertiary {
          button {
            background-color: $color-primary;
          }
        }
      }
    }
  }
}
