@import '../style/vars.scss';

.modalContent {
  width: 100%;
  height: 100%;

  &.withFooter {
    max-height: $modal-height-content;
    overflow: auto;
  }

  &.withHeader {
    margin-top: 160px;

    &.location {
      margin-top: 180px;
    }
  }

  &.mobile {
    max-height: 100%;
  }

  @media screen and (max-width: 480px) {
    &.withHeader {
      margin-top: 185px;

      &.location {
        margin-top: 205px;
      }
    }
  }
  @media screen and (max-width: 299px) {
    &.withHeader {
      margin-top: 225px;

      &.location {
        margin-top: 245px;
      }
    }
  }
}
