@import '../style/vars.scss';
@import '../style/mixins.scss';

.paymentWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: $margin;

  .split {
    display: flex;
    column-gap: 12px;

    input {
      flex: 1;
    }
  }
}
