@import '../style/vars.scss';

.paymentTypeWrapper {
  margin-top: $margin;
  color: $color-dark-grey;
  display: flex;

  .radioEntry {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 5px;

    label {
      cursor: pointer;
    }

    span {
      display: flex;
    }
  }

  .pricePerMonth {
    color: $color-dark-grey3;
    margin-left: 4px;
  }
}
