@import '../style/vars.scss';
@import '../style/mixins.scss';

.topHeader {
  @include topHeader();
}

.paymentDetails {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-top: $margin * 2;

  &.topBorder {
    border-top: 1px solid $color-medium-grey2;
    padding-top: $margin;
    margin-top: $margin;
  }

  .paymentDetailsHeader {
    @include smallTextBold();
    display: flex;
    justify-content: space-between;

    > span {
      flex: 1;
    }
  }

  .paymentDetailsEntry {
    display: flex;
    justify-content: space-between;
    font-size: $text-size;

    &.topMargin {
      margin-top: 30px;
    }

    .trialDays {
      color: $color-green2;
    }

    > div {
      flex: 1;

      &:nth-child(2) {
        margin-left: 10px;
      }

      &:last-child {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
